
<h1> Index Agenda </h1>


  <div>
      <!--   <button type="button" class="btn btn-primary"> <a asp-controller="Contato" asp-action="CadastrarView" class="text-decoration-none"> Cadastrar </a> </button>
       <button type="button" class="btn btn-secondary"> <a asp-controller="Contato" asp-action="ListarView" class="text-decoration-none"> Listar </a> </button>-->

    <a href="@Url.Action("CadastrarView", "Contato")" class="btn btn-primary">Cadastrar</a>
    <a href="@Url.Action("ListarView", "Contato")" class="btn btn-secondary">Listar</a>



</div>